  <header>
    <div class="ascii-logo"> <pre>                                
████████████████████████████████████████████████████████████████████
██                                         █████                 ██
██                                        ▒▒███                  ██
██      ███████ █████ ████ █████████████   ▒███████   ██████     ██
██     ███▒▒███▒▒███ ▒███ ▒▒███▒▒███▒▒███  ▒███▒▒███ ███▒▒███    ██
██    ▒███ ▒███ ▒███ ▒███  ▒███ ▒███ ▒███  ▒███ ▒███▒███ ▒███    ██
██    ▒███ ▒███ ▒███ ▒███  ▒███ ▒███ ▒███  ▒███ ▒███▒███ ▒███    ██
██    ▒▒███████ ▒▒████████ █████▒███ █████ ████████ ▒▒██████     ██
██     ▒▒▒▒▒███  ▒▒▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒▒   ▒▒▒▒▒▒      ██
██     ███ ▒███     ▄▖            ▜   ▄▖         ▗ ▘             ██
██     ▒▒██████     ▙▌█▌▛▘▛▘▛▌▛▌▀▌▐   ▌ ▛▌▛▛▌▛▌▌▌▜▘▌▛▌▛▌         ██
██      ▒▒▒▒▒▒      ▌ ▙▖▌ ▄▌▙▌▌▌█▌▐▖  ▙▖▙▌▌▌▌▙▌▙▌▐▖▌▌▌▙▌         ██
██                                           ▌        ▄▌         ██
████████████████████████████████████████████████████████████████████
    </pre></div>
    <nav>
      <a href="/">Home</a>
      <a href="/posts"> Blog</a>
      <a href="/tags">Tags</a>
    </nav>
  </header>
