/* Global section */
:root {
    /* Typography */
    font-family: 'Jetbrains Mono', 'Inter', sans-serif;
    
    /* Colors */
    --color-bg: #FACA78;
    --color-text: #dd5341;
    --box-shadow-default: #873226;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background: var(--color-bg);
    color: var(--color-text);
    text-align: center;
    }

.boxed {
    border: solid 5px #873226;
}

.ascii-logo {
    font-size: 10px;
    margin-top: 50px;
}
nav {
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
    font-size: 24px;
    }

a:link {
  text-decoration: none;
  color: var(--color-text);
}

a:visited {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:active {
  text-decoration: underline;
  color: black;
}